<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 将构建的User对象交给spring容器进行管理 -->
    <bean id="user" class="org.seventhgroup.pojo.User">
        <property name="id" value="2"></property>
        <property name="name" value="李四"></property>
        <property name="password" value="456"></property>
    </bean>
    <bean id="userServiceImp" class="org.seventhgroup.service.imp.UserServiceImp"></bean>
    <bean id="userController" class="org.seventhgroup.controller.UserController">
        <property name="userService" ref="userServiceImp"/>
    </bean>
</beans>