<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.seventhgroup.dao.RecordMapper">

    <resultMap id="recordMap" type="org.seventhgroup.pojo.Record">
        <id column="record_id" property="id"/>
        <result column="record_bookname" property="bookname"/>
        <result column="record_bookisbn" property="bookisbn"/>
        <result column="record_borrower" property="borrower"/>
        <result column="record_borrowtime" property="borrowTime"/>
        <result column="record_remandtime" property="remandTime"/>
    </resultMap>

    <!-- 新增借阅记录 -->
    <insert id="addRecord" parameterType="org.seventhgroup.pojo.Record">
        INSERT INTO record (
            record_bookname, record_bookisbn, record_borrower, record_borrowtime, record_remandtime
        ) VALUES (
                     #{bookname}, #{bookisbn}, #{borrower}, #{borrowTime}, #{remandTime}
                 )
    </insert>

    <!-- 查询借阅记录 -->
    <select id="searchRecords" resultMap="recordMap">
        SELECT * FROM record
        WHERE 1 = 1
        <if test="borrower != null and borrower != ''">
            AND record_borrower LIKE CONCAT('%', #{borrower}, '%')
        </if>
        <if test="bookname != null and bookname != ''">
            AND record_bookname LIKE CONCAT('%', #{bookname}, '%')
        </if>
        ORDER BY record_id DESC
    </select>

</mapper>