<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.seventhgroup.dao.UserMapper">
<!-- @author cloudsoul-ZX -->

    <!-- 定义User结果映射 -->
    <resultMap id="userMap" type="User">
        <id column="user_id" property="id"/>
        <result column="user_name" property="name"/>
        <result column="user_salt" property="passwordSalt"/>
        <result column="user_hash" property="passwordHash"/>
        <result column="user_email" property="email"/>
        <result column="user_createdate" property="createdate"/>
        <result column="user_role" property="role"/>
        <result column="user_status" property="status"/>
        <result column="user_deletedate" property="deletedate"/>
    </resultMap>
    <!-- 定义PasswordResult结果映射 -->
    <resultMap id="userPasswordMap" type="PasswordResult">
        <result column="user_salt" property="passwordSalt"/>
        <result column="user_hash" property="passwordHash"/>
    </resultMap>

    <!-- 获取用户密码盐与哈希值 -->
    <select id="getPasswordResult" resultMap="userPasswordMap">
        SELECT
            user_salt,
            user_hash
        FROM user
        WHERE user_email = #{email}
    </select>

    <!-- 用户登录查询 -->
    <select id="login" resultMap="userMap">
        SELECT
            user_id,
            user_name,
            user_salt,
            user_hash,
            user_email,
            user_createdate,
            user_role,
            user_status,
            user_deletedate
        FROM user
        WHERE user_email = #{email}
          AND user_status != ${@org.seventhgroup.pojo.User@DELETED}
    </select>

    <!-- 用户搜索查询 -->
    <select id="searchUsers" resultMap="userMap">
        SELECT
        user_id,
        user_name,
        user_salt,
        user_hash,
        user_email,
        user_createdate,
        user_role,
        user_status,
        user_deletedate
        FROM user
        WHERE 1 = 1
        <if test="id != null">
            AND user_id LIKE CONCAT('%', #{id}, '%')
        </if>
        <if test="name != null">
            AND user_name LIKE CONCAT('%', #{name}, '%')
        </if>
        ORDER BY user_status
    </select>

    <!-- 根据用户id查询用户信息 -->
    <select id="findById" resultMap="userMap">
        SELECT
            user_id,
            user_name,
            user_salt,
            user_hash,
            user_email,
            user_createdate,
            user_role,
            user_status,
            user_deletedate
        FROM user
        WHERE user_id = #{id}
    </select>

    <!-- 检查用户名是否已经存在 -->
    <select id="checkName" resultType="java.lang.String">
        SELECT user_name
        FROM user
        WHERE user_name = #{name}
          AND user_status != ${@org.seventhgroup.pojo.User@DELETED}
    </select>

    <!-- 检查用户邮箱是否已经存在 -->
    <select id="checkEmail" resultType="java.lang.String">
        SELECT user_email
        FROM user
        WHERE user_email = #{email}
          AND user_status != ${@org.seventhgroup.pojo.User@DELETED}
    </select>

    <!-- 添加用户 -->
    <insert id="addUser">
        INSERT INTO user (
            user_id,
            user_name,
            user_salt,
            user_hash,
            user_email,
            user_createdate,
            user_role,
            user_status,
            user_deletedate
        ) VALUES (
                     #{id},
                     #{name},
                     #{passwordSalt},
                     #{passwordHash},
                     #{email},
                     #{createdate},
                     #{role},
                     #{status},
                     #{deletedate}
                 )
    </insert>

    <!-- 编辑用户信息 -->
    <update id="editUser" parameterType="User">
        UPDATE user
        <set>
            <if test="name != null">
                user_name = #{name},
            </if>
            <if test="passwordSalt != null">
                user_salt = #{passwordSalt},
            </if>
            <if test="passwordHash != null">
                user_hash = #{passwordHash},
            </if>
            <if test="email != null">
                user_email = #{email},
            </if>
            <if test="status != null">
                user_status = #{status},
            </if>
            <if test="role != null">
                user_role = #{role},
            </if>
        </set>
        WHERE user_id = #{id}
    </update>

</mapper>